:root{
  --mainBg: #e5e5e5;
  --mainHighlight: #41246E;
  --mainHighlight50: #41246E80;
  --mainHighlight75: #41246Ec0;
  --mainHighlight30: #83729E;
  --mainHighlight40: #A79CB8;
  --mainHighlight20: #573d7e;
  --mainRed: #CC5C38;
  --mainGreen: #3D8266;
  --secondaryHighlight: #4498A5;
  --grey1: rgba(0, 0, 0, 0.15);
  --grey2: rgba(0, 0, 0, 0.25);
  --mainContrast: #000;
  --mainContrast2: #000000aa;
  --mainContrast3: #00000088;
  --cardWhite: #FAF5FF;
  --superWhite: #fff;

  --baseVal: 4px;
  --baseValH: calc(var(--baseVal) / 2);
  --baseValH3: calc(var(--baseValH) * 3);
  --baseVal2: calc( 2*var(--baseVal) );
  --baseVal3: calc(3*var(--baseVal));
  --baseVal4: calc(4*var(--baseVal));
  --baseVal5: calc(5*var(--baseVal));
  --baseVal6: calc(6*var(--baseVal));
  --baseVal10: calc(10*var(--baseVal));

  --topBottomBarHeight: calc(17*var(--baseVal));
  --navIconContHt: calc(.45*var(--topBottomBarHeight));
  --borderRadius4: calc(4*var(--baseVal));
  --inputFontSize: 1.2em;
}


html {
  scroll-behavior: smooth;
  background-color: var(--mainBg);
  width: 100vw;
  /* overflow-x: hidden; */
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body{
  overscroll-behavior: contain;
}
* {
  color: var(--mainContrast);
  margin: 0; padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.noSelect{
  -webkit-user-select: none;
  user-select: none;
}

.tabBarCont{
  padding-top: var(--baseVal3);
  padding-bottom: var(--baseVal3);
}

.tabOuterCont{
  overflow: auto;
}
.outerTabSnap{
  scroll-snap-type: x mandatory;

}
.tabInnercont{
  scroll-snap-align: start;
  overflow-y: scroll;
}
/* position */
.fp{
  position: fixed;
}

.rp{
  position: relative;
}
.ap{
  position: absolute;
}
.f{
  display: flex;
}
.g1{
  gap: var(--baseVal);
}
.fc{
  flex-direction: column;
}
.ac{
  align-items: center;
}
.jc{
  justify-content: center;
}
.sb{
  justify-content: space-between;
}
.se{
  justify-content: space-evenly;
}
.bgg1{
  background-color: var(--superWhite);
}
h6{
  font-weight: normal;
}
.bn{
  border: 1px solid;
  border-radius: var(--baseVal);
}
.fh{
  height: 100%;
}
.loginPg{
  /* padding-left: var(--baseVal4); */
  padding-left: clamp( var(--baseVal4) , 8%, var(--baseVal6) );
  padding-right: clamp( var(--baseVal4) , 8%, var(--baseVal6) );
  /* padding-right: var(--baseVal4); */
  /* padding-right: 10%; */
  height: 100%;
  padding-bottom: var(--baseVal10);
}

.whiteCard{
  background-color: var(--superWhite);
  border-radius: var(--baseVal2);
  padding: var(--baseVal3);
  box-shadow: 0px 0px 10px var(--grey2);
  margin: 0 var(--baseVal3);
}
.rosterCard{
  transition: all .4s;
}
.rosterCard * {
  transition: all .4s;
}
.cta{
  background-color: var(--mainHighlight);
  padding: var(--baseVal4);
  border-radius: var(--baseVal2);
  color: var(--superWhite);
  text-align: center;
  margin-left: var(--baseVal3);
  margin-right: var(--baseVal3);
}


.hp{
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal3);
}
.hm{
  margin-left: var(--baseVal3);
  margin-right: var(--baseVal3);
}
.walletWidget{
  background-color: var(--superWhite);
  padding: var(--baseVal2) var(--baseVal3);
  border-radius: var(--baseVal);
  margin-right: var(--baseVal4);
  gap: 0.5em;
  font-weight: bold;
}

.cardCont{
  padding-top: var(--baseVal2);
  gap: var(--baseVal3)
}
.cardCont::after{
  content:"0";
  display:block;
  font-size: .5px;
  line-height: 0px;
  /* overflow-y:hidden; */
  opacity: 0;
}
.fw{
  width: 100vw;
}
.label{
  margin-bottom: var(--baseVal3);
  color: var(--mainContrast2);
}
.inputOuterCont{
  padding-top: calc( var(--baseVal2) - 0px );
  padding-bottom: var(--baseVal2);
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal3);
  transition: all .2s;
  background-color: var(--mainHighlight20);
}
.inputOuterCont *{
  overflow-y: hidden;
}

h3{
  color: var(--textSubtitle);
  font-weight: normal;
}
h2{
  font-size: 2em;
}
p{
  font-size: 1em;
}

a{
  text-decoration: none;
  cursor: pointer;
}
.heading{
  color: var(--mainHighlight);
  font-weight: bold;
  
  margin-top: var(--baseVal3);
  margin-bottom: var(--baseVal2);
  margin-left: var(--baseVal5);
}

.app{
  width: 100vw;
  overflow: hidden;
  background-color: var(--mainBg)
}
.nav{
  height: var(--topBottomBarHeight);
  max-height: var(--topBottomBarHeight);
  flex: none;
  z-index: 20
}
.bottomNav{
  margin-top: auto;
  border-top-right-radius: var(--borderRadius4);
  border-top-left-radius: var(--borderRadius4); 
  justify-content: space-around;
  box-shadow: 0 -3px 6px #0002;
}
.upperNav{
  margin-bottom: auto;
  /* border-bottom-right-radius: var(--borderRadius4);
  border-bottom-left-radius: var(--borderRadius4);  */
  background-color: var(--mainHighlight);
  padding-left: var(--baseVal5);
  padding-right: var(--baseVal5);
}

.navIconCont{
  height: var(--navIconContHt);
  width: var(--navIconContHt);
  flex: none;
  border-radius: var(--baseVal2);
}

.nText{
  color: var(--superWhite);
  margin: 0;
  padding: 0;
  /* width: 85%; */
;
}

.main{
  cursor: pointer;
  color: #676767;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  height: 0;
  justify-content: center;
}
.container{
  position: fixed;
  z-index: 1000;
  width: calc(100vw - 2*var(--baseVal*2));
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: center;
  gap: var(--baseVal2);
  margin-top: var(--baseVal2);
}

.message{
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: start;
}

.content{
  color: white;
  background: var(--secondaryHighlight);
  padding-top: var(--baseVal3);
  padding-bottom: var(--baseVal3);
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal3);
  display: grid;
  grid-gap: var(--baseVal2);
  overflow: hidden;
  height: auto;
  border-radius: var(--baseVal2);
  margin-top: 0;
  width: 80vw;
}

.animInputCont{

  padding: var(--baseVal) var(--baseVal2);
  user-select: none;
  /* max-width: var(--inputContWid); */
}
.noScrollBar::-webkit-scrollbar {
  width: 0
}

  .normalText{
    font-size: var(--inputFontSize);
    color: var(--superWhite);
    letter-spacing: 0.8px;
    font-weight: normal;
  }

 .customInput{
    outline: none;
    padding: var(--baseVal) var(--baseVal2);
    border-width: 0;
    color: transparent;
    caret-color: var(--superWhite);
    background-color: transparent;
  }
input::placeholder{
  color: var(--mainHighlight30)
}
  .customInput::selection{
    color: transparent;
    background: var(--mainHighlight50);
  }

  .primeBtn{
    text-align: center;
    background-color: var(--superWhite);
    /* border-radius: var(--baseVal4); */
    padding-top: var(--baseVal3);
    padding-bottom: var(--baseVal3);
    color: var(--mainHighlight);
    font-weight: bold;
  }
  .highlightedSmallBtn{
    text-align: center;
    padding-top: var(--baseValH3);
    padding-bottom: var(--baseValH3);
    color: #fff;
    font-size: .8em;
    border-radius: var(--baseVal);
  }
  .btnPrimeColor{
    background-color: var(--mainHighlight);
  }
  .btnDisabledColor{
    background-color: var(--mainHighlight20);
  }
  .outlinedBtn{
    background-color: transparent;
    border: 2px solid var(--mainHighlight);
    color: var(--mainHighlight)
  }
  .whiteCard h5{
    font-size: .8em;
    color: var(--mainHighlight40);
    font-weight: normal;
  }
  .whiteCard span{
    font-size: 1em;
    color: var(--mainHighlight);
    font-weight: bold;
  }
  .upruns{
    text-align: center;
    border: 2px solid var(--mainHighlight);
    border-radius: var(--baseVal);
    padding: var(--baseVal);
    padding-top: var(--baseValH3);
    padding-bottom: var(--baseValH3);
    line-height: 80%;
    background-color: var(--superWhite);
  }
  .upruns h5{
    font-size: .8em !important;
  }
  .upruns span{
    font-size: 1.2em !important ;
  }
  .upruns p{
    margin-top: var(--baseValH);
    width: 46px
  }

table{
  border-collapse: collapse;
}
  th{
    padding-top: var(--baseVal2);
    text-align: left;
    border-bottom: 1px solid var(--grey2);
    padding-bottom: var(--baseVal2);
    font-size: 1em;
    padding-left: var(--baseVal2);
    padding-right: var(--baseVal2);

  }
  thead{
    /* box-shadow: 0 2px 6px #0003; */
    position: sticky;
    background-color: var(--superWhite);
    top: 0;
    /* transform: translateX(-10px); */
  }
  td{
    padding: var(--baseVal2);
    padding-left: var(--baseVal3);
    border-bottom: 1px solid var(--grey2);
    font-size: .9em;
  }


tr td:nth-child(2) {
    padding-left: var(--baseVal2);
}
tr td:nth-child(3) {
  text-align: right;
  padding-right: var(--baseVal6);
}
tr th:nth-child(3) {
  text-align: right;
}
tbody:last-child td{
  border-bottom: none;
}

  .rankCont{
    background-color: var(--superWhite);
    margin-top: var(--baseVal3);
    border-radius: var(--baseVal3);
    
    margin-bottom: var(--baseVal3);
    padding-bottom: var(--baseVal2);
  }

.walletCard{
  margin-top: var(--baseVal3);

}
.sortCont{
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal3);
  gap: var(--baseVal3)
}
.sortingCategory{
  /* background-color: var(--cardWhite); */
  border-radius: var(--baseVal2);
  padding: var(--baseVal4);
  padding-top: var(--baseVal2);
  padding-bottom: var(--baseVal2);
  font-weight: normal;
  border: 1px solid;
  white-space: nowrap
}
.checkBox{
  width: var(--baseVal6);
  height: var(--baseVal6);
  background-color: #0002;
  border-radius: var(--baseVal);
  border: 2px solid
}

.priceCont{
  margin-left: auto;
  background-color: var(--secondaryHighlight);
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal2);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: calc( -1 * var(--baseVal3));
  color: var(--superWhite);
}

.checkedCard{
  background-color: var(--mainHighlight);
}
.checkedCard * {
  color: white
}
.checkedCard span{
  color: var(--superWhite)
}

.loader-line {
  width: 100%;
  height: 3px;
  position: relative;
  overflow: hidden;
  background-color: var(--mainHighlight40);
  /* margin: 100px auto; */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 0
}


.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  background-color: var(--mainHighlight);
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
      left: -40%;
  }
  50% {
      left: 20%;
      width: 80%;
  }
  100% {
      left: 100%;
      width: 100%;
  }
}

.whiteBtn{
  background-color: var(--superWhite);
  color: var(--mainHighlight);
  font-weight: bold;
}
