:root{
  --mainBg: #eeeeee;
  --mainHighlight: #41246E;
  --mainHighlight50: #41246E80;
  --maniRed: #FE6C56;
  --mainGreen: #4CEC92;
  --secondaryHighlight: #CABDFF;
  --grey1: rgba(0, 0, 0, 0.15);
  --grey2: rgba(0, 0, 0, 0.25);
  --mainContrast: #000;
  --mainContrast2: #000000aa;
  --mainContrast3: #00000088;
  --superWhite: #fff;

  --baseVal: 4px;
  --baseVal2: calc( 2*var(--baseVal) );
  --baseVal3: calc(3*var(--baseVal));
  --baseVal4: calc(4*var(--baseVal));
  --baseVal5: calc(5*var(--baseVal));
  --baseVal6: calc(6*var(--baseVal));
  --baseVal10: calc(10*var(--baseVal));

  --considerBottomPadding: 15%;

  --topBottomBarHeight: calc(20*var(--baseVal));
  --borderRadius4: calc(4*var(--baseVal));
  --inputFontSize: 1.2em;
}


html {
  scroll-behavior: smooth;
  background-color: var(--mainBg);
  width: 100vw;
  /* overflow-x: hidden; */
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
* {
  color: var(--mainContrast);
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.noSelect{
  -webkit-user-select: none;
  user-select: none;
}

.tabOuterCont{
  overflow: auto;
  background-color: gray;
}
.outerTabSnap{
  scroll-snap-type: x mandatory;

}
.tabInnercont{
  scroll-snap-align: start;
  overflow-y: scroll;
}
/* position */
.fp{
  position: fixed;
}
.rp{
  position: relative;
}
.ap{
  position: absolute;
}
.f{
  display: flex;
}
.g1{
  gap: var(--baseVal);
}
.fc{
  flex-direction: column;
}
.ac{
  align-items: center;
}
.jc{
  justify-content: center;
}
.sb{
  justify-content: space-between;
}
.se{
  justify-content: space-evenly;
}
.bgg1{
  background-color: var(--superWhite);
}
h6, h1{
  font-weight: normal;
}
.bn{
  border: 1px solid;
  border-radius: var(--baseVal4);
}
.fh{
  height: 100%;
}
.loginPg{
  /* padding-left: var(--baseVal4); */
  padding-left: clamp( var(--baseVal4) , 8%, var(--baseVal6) );
  padding-right: clamp( var(--baseVal4) , 8%, var(--baseVal6) );
  /* padding-right: var(--baseVal4); */
  /* padding-right: 10%; */
  height: 100%;
  padding-bottom: var(--considerBottomPadding);
}
.roasterComp{
  background-color: var(--superWhite);
  margin: 5px var(--baseVal3);
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal3);
  padding-top: var(--baseVal3);
  padding-bottom: var(--baseVal3);
}

.fw{
  width: 100vw;
}
.label{
  margin-bottom: var(--baseVal3);
  color: var(--mainContrast2);
}
.inputOuterCont{
  padding-top: calc( var(--baseVal2) - 0px );
  padding-bottom: var(--baseVal2);
  padding-left: var(--baseVal3);
  padding-right: var(--baseVal3);
  transition: all .2s;
}

h3{
  color: var(--textSubtitle);
  font-weight: normal;
}
h2{
  font-size: 2em;
}
p{
  font-size: 1em;
}

a{
  text-decoration: none;
}

.app{
  width: 100vw;
  overflow: hidden;
  background-color: var(--mainBg)
}
.nav{
  height: var(--topBottomBarHeight);
}
.bottomNav{
  margin-top: auto;
  border-top-right-radius: var(--borderRadius4);
  border-top-left-radius: var(--borderRadius4); 
}
.upperNav{
  margin-bottom: auto;
  border-bottom-right-radius: var(--borderRadius4);
  border-bottom-left-radius: var(--borderRadius4); 
}
.navIcon{
  width: 30vw;
}

.main{
  cursor: pointer;
  color: #676767;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  height: 0;
  justify-content: center;
}
.container{
  position: fixed;
  z-index: 1000;
  width: calc(100vw - 2*var(--baseVal*2));
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  align-items: center;
}

.message{
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: start;
}

.button{
  cursor: pointer;
  pointer-events: all;
  outline: 0;
  border: none;
  background: transparent;
  display: flex;
  align-self: flex-end;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.content{
  color: white;
  background: #445159;
  opacity: 0.9;
  padding: 12px 22px;
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  overflow: hidden;
  height: auto;
  border-radius: 3px;
  margin-top: 10px;
}

.animInputCont{

  padding: var(--baseVal) var(--baseVal2);
  user-select: none;
  /* max-width: var(--inputContWid); */
}
.noScrollBar::-webkit-scrollbar {
  width: 0
}

  .normalText{
    font-size: var(--inputFontSize);
    color: var(--mainContrast);
    letter-spacing: 0.8px;
    font-weight: normal;
  }

 .customInput{
    outline: none;
    padding: var(--baseVal) var(--baseVal2);
    border-width: 0;
    color: transparent;
    caret-color: var(--mainContrast);
    background-color: transparent;
  }
input::placeholder{
  color: var(--mainContrast3)
}
  .customInput::selection{
    color: transparent;
    background: var(--mainHighlight50);
  }

  .primeBtn{
    text-align: center;
    background-color: var(--mainContrast);
    /* border-radius: var(--baseVal4); */
    padding-top: var(--baseVal3);
    padding-bottom: var(--baseVal3);
    color: var(--mainHighlight);
    font-weight: bold;
  }
  .highlightedBtn{
    background-color: var(--mainHighlight);
    text-align: center;
    /* border-radius: var(--baseVal4); */
    padding-top: var(--baseVal3);
    padding-bottom: var(--baseVal3);
    color: #fff;
    font-weight: bold;
    border-radius: var(--baseVal2);
  }
  .outlinedBtn{
    background-color: transparent;
    border: 2px solid var(--mainContrast);
    color: var(--mainContrast)
  }